#content-inside
  .row
    .col-xs-12.col-sm-7.col-md-7.col-lg-4
      %h2.page-title.txt-color-blueDark
        %i.fa.fa-pencil-square-o.fa-fw 
        Lista de Productos
      - if flash[:notice] !=nil
        .alert.alert-success.fade.in{"style" => "clear:both"}
          %button.close{"data-dismiss" => "alert"}
            x
          %i.fa-fw.fa.fa-check
          %strong Exito
          = flash[:notice]
      - if flash[:error] != nil
        .alert.alert-danger.fade.in
          %button.close{"data-dismiss" => "alert"}
            x
          %i.fa-fw.fa.fa-check
          %strong Error!
          = flash[:error]
  .row
    .col-sm-4
      %button.btn.btn-primary.btn-mini{:onclick => "javascript:load_url_ajax('#{new_product_path}', 'content', null, null, 'GET')"}
        Agregar Producto

  %br
  .row
    #widget-grid 
      %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
        = render :partial => 'table'